# pandas Quiz

아래 문제를 풀어 보세요. map() 이용해 보세요. 
첫 번째 컬럼을 이용하여, fruit, price 컬럼을 생성해 보세요. 
세미콜론으로 분리하여 과일이름은 fruit 컬럼에, 숫자는 price 컬럼에 넣어주셔요

In [2]:
import pandas as pd
from pandas import DataFrame, Series

df = DataFrame( [['apple;100'],['grape;200']], columns=['total'])
df

            total
0     apple;banaa
1  grape;cucumber

## (sol 1)

In [3]:
def make(x, *, sep=';', no=0):
    x2= x.split(sep)
    return x2[no]

df['fruit'] = df['total'].map(lambda x : make(x, no=0))
df

            total  fruit
0     apple;banaa  apple
1  grape;cucumber  grape

In [4]:
df['price'] = df['total'].map(lambda x : make(x, no=1))
df

            total  fruit     price
0     apple;banaa  apple     banaa
1  grape;cucumber  grape  cucumber